.audiocall {
    margin: 0 auto;
}

.audiocall-container,
.choice-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 10vh;
}

.audiocall-header,
.choice-header {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 13px;
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}

.audiocall-text {
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding-bottom: 60px;
}

.audiocall-start,
.choice-button {
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;

    display: block;
    width: 160px;
    padding: 15px;
    border: 1px solid #fff;
    background: transparent;
    margin: 0 auto;
}

.choice-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.audiocall-start:hover,
.choice-button:hover {
    cursor: pointer;
    color: #263366;
    border: 1px solid #263366;
}