.audiocall {
    margin: 0 auto;
}

.audiocall-container,
.choice-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 10vh;
}

.audiocall-header,
.choice-header {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 13px;
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}

.audiocall-text {
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding-bottom: 60px;
}

.audiocall-start,
.choice-button {
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;

    display: block;
    width: 160px;
    padding: 15px;
    border: 1px solid #fff;
    background: transparent;
    margin: 0 auto;
}

.choice-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.audiocall-start:hover,
.choice-button:hover {
    cursor: pointer;
    color: #263366;
    border: 1px solid #263366;
}

.question-button {
    width: 120px;
    height: 120px;
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.question-button:hover {
    background: #263366;
}

.question-image {
    margin: 0 auto;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    margin: 10vh auto 40px;
}

.answers-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.answer-container {
    text-transform: uppercase;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 20px auto 20px;
    padding: 10px;
    color: #ffffff;
}

.answer-container:hover {
    background: rgba(255,255,255,0.3);
    color: #263366;
}

.answer-container-right {
    background: green;
}

.result-button {
    width: 190px;
    box-sizing: border-box;
    font-size: 34px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    display: block;
    margin: 40px auto 0;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px;
}

.result-button:hover {
    color: #263366;
    border: 1px solid #263366;
}

.result-button.next {
    font-size: 40px;  
    padding: 16px;
}

.right-image {
    width: 220px;
    height: auto;
}

.answer-text {
    color: #ffffff;
    font-size: 34px;  
    padding-left: 20px;
}

.question-text-container {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
}

