.auth {
  width: 500px;
  height: 400px;
  margin: 80px auto;
  padding: 20px;
  background-color: #fff;
  letter-spacing: 0.1em;
  

  &__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(208, 209, 211);
    margin-bottom: 50px;
    font-weight: 700;
  }

  &__link {
    all: unset;
    display: block;
    padding: 10px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    color: rgb(175, 176, 179);

    &.active{
      color: $colorDark;
    }

    &:hover {
      color: #263366;
    }
  }

  &__wrap {
    position: relative;
    width: 300px;
    margin: 10px auto 18px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 45px;
    text-indent: 15px;
    border: 2px solid $colorDark;
    outline: none;

    &.invalid {
      border-color: #b94343;

      &~.invalid-data-message {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__btn {
    display: block;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    text-align: center;
    color: #fff;
    background-color: #263366;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #fff;
      background-color: #f76c6c;
    }
  }

  &__error {
    margin-top: 30px;
    text-align: center;
    color: #b94343;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &_register {
      margin-top: 10px;
    }

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}

.invalid-data-message {
  position: absolute;
  left: -1%;
  right: -1%;
  top: 47px;
  padding: 5px;
  font-size: 14px;
  box-shadow: 0px 0px 3px #bb1919;
  background-color: #ffffff;
  color: #b94343;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
