.footer {

  &__container {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: $color2;
    font-size: 15px;
    font-family: $font2;
    border-top: 1px solid $color2;
  }

  .github-link {
    flex-grow: 1;
    text-align: right;
    padding-right: 30px;
  }

  &__year {
    cursor: default;
  }

  &__link {
    transition: all 0.3s ease-in-out;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  
}