.header {
  font-weight: 600;
  letter-spacing: 0.05em;

  &__container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    min-height: 90px;
  }

  &__nav {
    flex-grow: 1;
  }

  &__logo {
    margin-right: 20px;
  }
}

.logo {
  display: block;
  color: #fff;
  font-weight: 900;
  font-family: $font2;
  font-size: 40px;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    color: $color5;
  }
}

.sign-in {
  margin-top: 10px;
  color: $color2;
}

.sign-out {
  margin-top: 10px;
  display: none;
  cursor: pointer;
  color: $color2;
}

.user-name {
  display: none;
  margin-top: 10px;
  margin-right: 30px;
  color: $color5;
  cursor: default;
}