.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__link {
    position: relative;
    padding: 20px;
    color: #263366;
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 18px;
    
    &::after {
      position: absolute;
      content: '';
      height: 3px;
      bottom: 5px;
      left: 10px;
      width: 0;
      background-color: #f4abab;
      transition: all ease-in-out 0.3s;
    }

    &:hover {
      color: #fff;
    }
  }
}